html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.intro {
    background: linear-gradient(-45deg, #65aec8, #fdc1cc, #aed7e6, #ffa7b7);
    background-size: 400% 400%; 
	animation: gradient 15s ease infinite;
	height: 100vh;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    position: absolute;
    transition: opacity 1s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
    width: 50vw;
	animation: logo-animation 3s ease-in-out;
}

@keyframes logo-animation {
    from {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    } 
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 1vw;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    background-image: linear-gradient(to right, white, lightblue);
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
}

.header-sections {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.header-sections * {
    font-family: Inter;
}

.header-sections a:hover {
    color: rgb(86, 86, 86);
}

.current-section {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding-top: 10vw;
}

.top-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.top-content-title {
    font-family: Inter;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 40px;
    max-width: 60%;
}

.top-content-par {
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 70%;
}

.top-content-card {
    background-image: linear-gradient(to right, pink, lightblue);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;

}

.top-content-card-title {
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    width: 500px;
}

.top-content-card-par {
    font-family: Inter;
    font-size: 24px;
    width: 800px;
}

.mid-content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.mid-content-par {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.mid-content-par-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mid-content-par-left-text {
    font-family: Inter;
    font-size: 32px;
    max-width: 1000px;
    margin-bottom: 16px;
}

.mid-content-par button {
    font-family: Inter;
    width: 120px;
    height: 40px;
    background-color: #00FFAB;
    border: 8px solid #00FFAB;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 4px 0 1px rgba(0, 0, 0, .3);
}

.mid-content-par button:hover {
    background-color: #00f7a5;
    border: 8px solid #00f7a5;
}

.mid-content-par button:active {
    background-color: #00e498;
    border: 8px solid #00e498;
    transform: scale(0.98);
}

.mid-content-par img {
    border-radius: 100%; /* Makes the corners round, forming a circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    overflow: hidden; /* Ensures content outside the circle is hidden */
    width: 300px;
    height: 300px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    flex-shrink: 0;
}

.mid-content-card {
    background-image: linear-gradient(to right, pink, lightblue);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 16px;
    overflow: hidden;
}

.masked-img-one {
    position: absolute;
    top: -5vw; /* Position relative to container */
    left: 50vw; /* Adjust to align the image */
    width: 20vw; /* Ensure it is larger than the container */
    height: auto; /* Maintain the aspect ratio */
}

.masked-img-two {
    position: absolute;
    top: 10vw; /* Position relative to container */
    left: 65vw; /* Adjust to align the image */
    width: 40vw; /* Ensure it is larger than the container */
    transform: rotate(30deg);
    height: auto; /* Maintain the aspect ratio */
}

.mid-content-card-left {
    display: flex;
    flex-direction: column;
}

.mid-content-card-title {
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    width: 500px;
    margin-bottom: 16px;
}

.mid-content-card button {
    font-family: Inter;
    width: 120px;
    height: 40px;
    background-color: #E6E6E6;
    border: 8px solid #E6E6E6;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 4px 0 2px rgba(0, 0, 0, .3);
}

.mid-content-card button:hover {
    background-color: #e0e0e0;
    border: 8px solid #e0e0e0;
}

.mid-content-card button:active {
    background-color: #d0d0d0;
    border: 8px solid #d0d0d0;
    transform: scale(0.98);
}

.par-content {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.par-content-text {
    font-family: Inter;
    font-size: 32px;
    width: 600px;
    line-height: 1.5;
}

.bottom-content-top {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
    margin-bottom: 64px;
}

.bottom-content-top-title {
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 48px;
    font-weight: bold;
}

.bottom-content-top-main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bottom-content-top-main-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bottom-content-top-main-right-par {
    font-family: Inter;
    font-size: 32px;
    max-width: 800px;
}

.bottom-content-top-main-right button {
    font-family: Inter;
    width: 250px;
    height: 40px;
    background-color: #00FFAB;
    border: 8px solid #00FFAB;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 4px 0 1px rgba(0, 0, 0, .3);
}

.bottom-content-top-main-right button:hover {
    background-color: #00f7a5;
    border: 8px solid #00f7a5;
}

.bottom-content-top-main-right button:active {
    background-color: #00e498;
    border: 8px solid #00e498;
    transform: scale(0.98);
}

.bottom-content-top-main img {
    border-radius: 100%; /* Makes the corners round, forming a circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    overflow: hidden; /* Ensures content outside the circle is hidden */
    width: 300px;
    height: 300px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    flex-shrink: 0;
}

.bottom-content-mid {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
    margin-bottom: 80px;
}

.bottom-content-mid-title {
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 48px;
    font-weight: bold;
}

.bottom-content-mid-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.bottom-content-mid-card-one {
    padding: 32px;
    width: 400px;
    height: 200px;
    background-color: #FFB6C1;
    border-radius: 16px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    display: flex;
    flex-direction: column;
}

.bottom-content-mid-card-one-title {
    font-family: Inter;
    font-size: 32px;
    margin-bottom: 64px;
}

.bottom-content-mid-card-one-profile {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.bottom-content-mid-card-one-profile img {
    border-radius: 100%; /* Makes the corners round, forming a circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    overflow: hidden; /* Ensures content outside the circle is hidden */
    width: 60px;
    height: 60px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
}

.bottom-content-mid-card-one-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-content-mid-card-one-name {
    font-family: Inter;
    font-size: 16px;
}

.bottom-content-mid-card-one-role {
    font-family: Inter;
    font-size: 16px;
    color: grey;
}



.bottom-content-mid-card-two {
    padding: 32px;
    width: 400px;
    height: 200px;
    background-color: #8EC8E8;
    border-radius: 16px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    display: flex;
    flex-direction: column;
}

.bottom-content-mid-card-two-title {
    font-family: Inter;
    font-size: 32px;
    margin-bottom: 64px;
}

.bottom-content-mid-card-two-profile {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.bottom-content-mid-card-two-profile img {
    border-radius: 100%; /* Makes the corners round, forming a circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    overflow: hidden; /* Ensures content outside the circle is hidden */
    width: 60px;
    height: 60px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
}

.bottom-content-mid-card-two-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-content-mid-card-two-name {
    font-family: Inter;
    font-size: 16px;
}

.bottom-content-mid-card-two-role {
    font-family: Inter;
    font-size: 16px;
    color: grey;
}



.bottom-content-mid-card-three {
    padding: 32px;
    width: 400px;
    height: 200px;
    background-color: #FFB6C1;
    border-radius: 16px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    display: flex;
    flex-direction: column;
}

.bottom-content-mid-card-three-title {
    font-family: Inter;
    font-size: 32px;
    margin-bottom: 64px;
    max-width: 500px;
}

.bottom-content-mid-card-three-profile {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.bottom-content-mid-card-three-profile img {
    border-radius: 100%; /* Makes the corners round, forming a circle */
    object-fit: cover; /* Ensures the image fills the circle without distortion */
    overflow: hidden; /* Ensures content outside the circle is hidden */
    width: 60px;
    height: 60px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
}

.bottom-content-mid-card-three-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-content-mid-card-three-name {
    font-family: Inter;
    font-size: 16px;
}

.bottom-content-mid-card-three-role {
    font-family: Inter;
    font-size: 16px;
    color: grey;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
    padding: 32px;
    height: 150px;
    align-items: center;
    flex-wrap: wrap;
}

.bottom-content-title {
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
}

.bottom-content-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.bottom-content-button-one {
    font-family: Inter;
    width: 120px;
    height: 45px;
    background-color: #000000;
    border: 8px solid #000000;
    color: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 4px 0 1px rgba(0, 0, 0, .4);
}

.bottom-content-button-two {
    font-family: Inter;
    width: 200px;
    height: 45px;
    background-color: #E6E6E6;
    border: 8px solid #E6E6E6;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 4px 0 1px rgba(0, 0, 0, .4);
}

.bottom-content-button-one:hover {
    background-color: #1f1f1f;
    border: 8px solid #1f1f1f;
}

.bottom-content-button-one:active {
    background-color: #2a2a2a;
    border: 8px solid #2a2a2a;
    transform: scale(0.98);
}

.bottom-content-button-two:hover {
    background-color: #e6e6e6ae;
    border: 8px solid #e6e6e6ae;
}

.bottom-content-button-two:active {
    background-color: #E6E6E6;
    border: 8px solid #E6E6E6;
    transform: scale(0.98);
}

.footer {
    display: flex;
    background-image: linear-gradient(to right, white, lightblue);
    padding: 16px;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.left-footer {
    padding: 32px;
}

.right-footer {
    display: flex;
    gap: 8px;
}

.right-footer li {
    margin: 16px 0;
    font-size: 20px;
    font-family: Inter;
    max-width: 150px;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.bottom-extra-one {
    
}







@media only screen and (max-width: 768px) {
    .header img {
        width: 100px;
    }

    .header-sections * {
        font-size: 12px;
    }

    .top-content-title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .top-content-par {
        font-size: 16px;
    }

    .top-content-card-title {
        font-size: 32px;
    }

    .top-content-card-par {
        font-size: 16px;
    }

    .mid-content-par-left-text {
        font-size: 16px;
        max-width: 300px;
    }

    .mid-content-par img {
        width: 150px;
        height: 150px;
    }

    .mid-content-card-title {
        font-size: 32px;
    }

    .par-content-text {
        font-size: 16px;
        max-width: 300px;
    }

    .bottom-content-top-title {
        font-size: 32px;
    }

    .bottom-content-top-main img {
        width: 150px;
        height: 150px;
    }

    .bottom-content-top-main-right-par {
        font-size: 16px;
        max-width: 300px;
    }

    .bottom-content-mid-title {
        font-size: 32px;
    }

    .bottom-content-mid-card-one {
        width: 200px;
        height: 100px;
    }
    
    .bottom-content-mid-card-one-title {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .bottom-content-mid-card-one-profile img {
        width: 45px;
        height: 45px;
    }
    
    .bottom-content-mid-card-one-name {
        font-size: 12px;
    }
    
    .bottom-content-mid-card-one-role {
        font-size: 12px;
    }


    .bottom-content-mid-card-two {
        width: 200px;
        height: 100px;
    }
    
    .bottom-content-mid-card-two-title {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .bottom-content-mid-card-two-profile img {
        width: 45px;
        height: 45px;
    }
    
    .bottom-content-mid-card-two-name {
        font-size: 12px;
    }
    
    .bottom-content-mid-card-two-role {
        font-size: 12px;
    }


    .bottom-content-mid-card-three {
        width: 200px;
        height: 100px;
    }
    
    .bottom-content-mid-card-three-title {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .bottom-content-mid-card-three-profile img {
        width: 45px;
        height: 45px;
    }
    
    .bottom-content-mid-card-three-name {
        font-size: 12px;
    }
    
    .bottom-content-mid-card-three-role {
        font-size: 12px;
    }

    .bottom-content-title {
        font-size: 32px;
    }

    .right-footer li {
        margin: 4px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 630px) {
    .content {
        padding-top: 12vw;
    }

    .top-content-title {
        font-size: 20px;
        margin-bottom: 16px;
        max-width: 350px;
    }

    .header-sections * {
        font-size: 10px;
    }

    .top-content-par {
        font-size: 12px;
    }

    .top-content-card {
        flex-direction: column;
        gap: 16px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .top-content-card-title {
        font-size: 20px;
        max-width: 300px;
    }

    .top-content-card-par {
        font-size: 12px;
        max-width: 300px;
    }

    .mid-content-par-left-text {
        font-size: 12px;
        max-width: 200px;
    }

    .mid-content-par img {
        width: 100px;
        height: 100px;
    }

    .mid-content-card {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-top: 16px;
    }

    .mid-content-card-title {
        font-size: 20px;
        max-width: 200px;
    }

    .par-content {
        padding: 10px;
    }

    .par-content-text {
        font-size: 12px;
        max-width: 300px;
    }

    .par-content-text span {
        font-weight: bold;
    }

    .bottom-content-top-title {
        font-size: 20px;
    }

    .bottom-content-top {
        margin-bottom: 0;
    }

    .bottom-content-top-main img {
        width: 100px;
        height: 100px;
    }

    .bottom-content-top-main-right button {
        max-width: 150px;
        height: 50px;
    }

    .bottom-content-top-main-right-par {
        font-size: 12px;
        max-width: 250px;
    }

    .bottom-content-mid {
        margin-bottom: 4vw;
    }

    .bottom-content-mid-title {
        font-size: 20px;
    }

    .bottom-content-mid-cards {
        gap: 32px;
    }

    .bottom-content-mid-card-one {
        width: 250px;
        height: 75px;
    }
    
    .bottom-content-mid-card-one-title {
        font-size: 12px;
        margin-bottom: 32px;
    }

    .bottom-content-mid-card-one-profile img {
        width: 30px;
        height: 30px;
    }
    
    .bottom-content-mid-card-one-name {
        font-size: 10px;
    }
    
    .bottom-content-mid-card-one-role {
        font-size: 10px;
    }


    .bottom-content-mid-card-two {
        width: 250px;
        height: 75px;
    }
    
    .bottom-content-mid-card-two-title {
        font-size: 12px;
        margin-bottom: 32px;
    }

    .bottom-content-mid-card-two-profile img {
        width: 30px;
        height: 30px;
    }
    
    .bottom-content-mid-card-two-name {
        font-size: 10px;
    }
    
    .bottom-content-mid-card-two-role {
        font-size: 10px;
    }


    .bottom-content-mid-card-three {
        width: 250px;
        height: 75px;
    }
    
    .bottom-content-mid-card-three-title {
        font-size: 12px;
        margin-bottom: 32px;
    }

    .bottom-content-mid-card-three-profile img {
        width: 30px;
        height: 30px;
    }
    
    .bottom-content-mid-card-three-name {
        font-size: 10px;
    }
    
    .bottom-content-mid-card-three-role {
        font-size: 10px;
    }



    .bottom-content-title {
        font-size: 32px;
    }

    .right-footer li {
        margin: 4px;
        font-size: 12px;
    }

    .bottom-content-title {
        font-size: 20px;
    }

    .footer {
        padding: 0;
        justify-content: space-evenly;
        gap: 0;
    }

    .footer img {
        width: 100px;
    }

    .left-footer {
        padding: 8px;
    }
    
    .right-footer {
        gap: 0;
    }

    .right-footer li {
        margin: 8px 0;
        padding: 0;
        font-size: 10px;
        max-width: 100px;
    }

    .right-footer-clinic {
        padding: 0;
    }


    .right-footer-user {
        padding: 0;
    }

    .masked-img-one {
        top: -10vw; /* Position relative to container */
        left: 20vw; /* Adjust to align the image */
        width: 50vw; /* Ensure it is larger than the container */
    }

    .masked-img-two {
        top: 10vw; /* Position relative to container */
        left: 55vw; /* Adjust to align the image */
        width: 60vw; /* Ensure it is larger than the container */
    }
}